<footer class="bd-footer py-5 mt-5 bg-dark border-top border-primary border-5 text-light">
    <div class="container py-5">
        created with
        <img src="/assets/angular_logo.svg" alt="angular logo" width="36" height="36">
        <img src="/assets/Bootstrap_logo.svg" alt="bootstrap logo" width="45" height="36">
        <img src="/assets/Node.js_logo.svg" alt="node js logo" width="59" height="36">
        <img src="/assets/Java_logo.svg" alt="java logo" width="19" height="36">

    </div>
</footer>