  <!-- MAIN PAGE -->
  <div>
    <div>
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide carouselheight" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active h-100 carmain car1">
            <!--First slide--> 
            <h2 class="position-absolute top-50 start-50 translate-middle">Create <b>YOUR</b> tickets with <b>OUR</b> application!</h2>
            <!--add background image-->
          </div>
          <div class="carousel-item h-100 carmain car2">
            <!--Second slide--> 
            <h2 class="position-absolute top-50 start-50 translate-middle">Easy to use!</h2>
            <!--add background image-->
          </div>
          <div class="carousel-item h-100 carmain car3">
            <!--Third slide--> 
            <h2 class="position-absolute top-50 start-50 translate-middle">Batch ticket creation!</h2>
            <!--add background image-->
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="card container h-100 mt-3">
              <div class="border-bottom">
                <h2 class="mt-2">Step 1</h2>
              </div>
            <!--STEP 1-->

              In order to create tickets you need to log in

            </div>
          </div>
          <div class="col-md">
            <div class="card container h-100 mt-3">
              <div class="border-bottom">
                <h2 class="mt-2">Step 2</h2>
              </div>
            

            <!--STEP 2-->

            This is a card for creating either a single ticket or a batch of tickets
            <br>Singleton
            <br>Batch<br>
            In the above card you can select which one you want to do
          
            </div>
          </div>
          <div class="col-md">
            <div class="card container h-100 mt-3">
              <div class="border-bottom">
                <h2 class="mt-2">Step 3</h2>
              </div>

              <!--STEP 3-->

              Once the server finishes processing your request you can download the tickets by pressing the download button. You can identify the download button by it's blue color and a label which says "Download"

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
