<div class="container mainwindow d-flex align-items-center">
  <div class="card container text-bg-light wrapperwindow align-middle">
    <form method="post" (ngSubmit)="submitForm()" [formGroup]="userForm">
      <label for="email" class="form-label fs-5">Enter your E-Mail adress:</label>
      <input formControlName="email" type="email" placeholder="E-Mail" class="form-control" name="email" id="email">
      <label for="login" class="form-label fs-5">Enter your desired username:</label>
      <input formControlName="login" type="text" placeholder="Username" class="form-control" name="login" id="login">
      <label for="password" class="form-label fs-5">Enter your password:</label>
      <input formControlName="password" type="password" placeholder="Password" class="form-control" name="password" id="password">
      <label for="password" class="form-label fs-5">Enter your password again:</label>
      <input formControlName="password2" type="password" placeholder="Password again" class="form-control" name="password2" id="password2">
      <div class="d-grid gap-2 col-6 mx-auto w-100">
        <button type="submit" class="btn btn-primary mt-4">Register</button>
        <br>
        <a href="../login">
          <button type="button" class="btn btn-outline-primary w-100" name="Submit" id="reg">Sign in</button>
        </a>
      </div>
    </form>
  </div>
</div>