  <!-- HEADER -->
<header class="navbar navbar-expand-md navbar-dark bd-navbar bg-dark border-bottom border-primary border-5">
<nav class="container-xxl flex-wrap flex-md-nowrap">
    <a class="navbar-brand p-0 me-2" href="#">Ticketgen</a>
    <div class="collapse navbar-collapse" id="bdNavbar">
    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item col-6 col-md-auto">
        <a class="nav-link p-2 active" href="/" aria-current="true" onclick="">Home</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
        <a class="nav-link p-2" href="" onclick="">Create</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
        <a class="nav-link p-2" href="" onclick="">Contact</a>
        </li>
    </ul>
    </div>
</nav>
</header>