  <!-- HEADER -->
<header class="navbar navbar-expand-md navbar-dark bd-navbar bg-dark border-bottom border-primary border-5">
<nav class="container-xxl flex-wrap flex-md-nowrap">
    <a class="navbar-brand p-0 me-2" routerLink="/">Ticketgen</a>
    <div class="collapse navbar-collapse justify-content-between" id="bdNavbar">
    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
          <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2 active" routerLink="/" aria-current="true" onclick="">Home</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" routerLink="" onclick="">Create</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" routerLink="" onclick="">Contact</a>
          </li>
    </ul>
    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
      <li class="nav-item col-6 col-md-auto">
        <div class="d-flex" *ngIf="loggedIn; else notLoggedIn">
          <a class="nav-link p-2" routerLink="/account">Account</a>
          <a class="nav-link p-2 mouse-click" (click)="logout()">Logout</a>
        </div>

        <ng-template #notLoggedIn>
          <a class="nav-link p-2" routerLink="/login" onclick="">Login</a>
        </ng-template>
      </li>
    </ul>
    </div>
</nav>
</header>
