.absolute-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 4vw;
  border-radius: 6px;
  width: max-content;
}

.mainwindow {
  height: 70vh;
}

.wrapperwindow {
  padding: 10%; 
  width: 40vw; 
  min-width: 300px;
}
